Read an rds (R) data file into pandas and filter to reduce size of dataset 
Export to csv

In [2]:
# import dependencies
# import pyreadr
import rdata
import pandas as pd
import datetime

In [3]:
#Read in file
#data format is .rds 

# data= pyreadr.list_objects('/Users/geoffmaitland/Documents/aibootcamp/Git- Local-Repositories/Project-2/resources/UNWEIGHTED_Heatvars.Rds')


df_all_0 = rdata.read_rda(rdata.TESTDATA_PATH / "/Users/geoffmaitland/Documents/aibootcamp/Git- Local-Repositories/Project-2/daily-temps-2000-2020/archive csv/resources/UNWEIGHTED_Heatvars.Rds")
df_all_0

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/rdata/parser/_parser.py:1217: UserWarning: Unknown file type: assumed RDS
  warnings.warn("Unknown file type: assumed RDS")  # noqa: B028
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/rdata/parser/_parser.py:1220: UserWarning: Wrong extension .rda for file in RDS format
  warnings.warn(f"Wrong extension {extension} for file in RDS format")  # noqa: B028

,StCoFIPS,Date,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
1,01001,10958.0,14.62,21.63,17.28,14.45,16.52,15.38,8.10,15.61,...,11.98,24.88,16.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01003,10958.0,16.26,22.61,18.80,15.82,18.43,17.18,10.10,15.88,...,13.32,25.46,17.92,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01005,10958.0,13.88,20.09,16.23,13.80,16.28,14.97,7.29,14.83,...,11.59,23.10,15.76,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01007,10958.0,13.57,21.02,16.62,13.46,16.68,15.04,6.52,15.05,...,9.71,24.62,15.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,01009,10958.0,13.49,18.49,15.29,13.35,15.80,14.52,5.84,12.15,...,9.77,21.11,13.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23835248,56037,18626.0,-18.96,-6.53,-12.46,-22.55,-11.14,-16.63,-34.66,-19.94,...,-34.78,-5.29,-22.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23835249,56039,18626.0,-20.90,-11.78,-15.73,-23.23,-14.33,-18.45,-28.82,-17.07,...,-26.26,-3.41,-16.93,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23835250,56041,18626.0,-17.40,-4.62,-11.12,-21.91,-10.23,-15.98,-31.11,-15.47,...,-31.59,-0.86,-18.83,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23835251,56043,18626.0,-14.40,-1.32,-8.46,-18.79,-11.98,-15.82,-23.91,-4.22,...,-23.88,12.10,-10.11,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23835252,56045,18626.0,-10.17,1.02,-5.55,-16.53,-10.28,-13.64,-23.05,-6.86,...,-25.03,3.48,-14.24,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#check data types

df_all_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23835252 entries, 1 to 23835252
Data columns (total 30 columns):
 #   Column      Dtype
---  ------      -----
 0   StCoFIPS    category
 1   Date        float64
 2   Tmin_C      float64
 3   Tmax_C      float64
 4   Tmean_C     float64
 5   TDmin_C     float64
 6   TDmax_C     float64
 7   TDmean_C    float64
 8   NETmin_C    float64
 9   NETmax_C    float64
 10  NETmean_C   float64
 11  HImin_C     float64
 12  HImax_C     float64
 13  HImean_C    float64
 14  HXmin_C     float64
 15  HXmax_C     float64
 16  HXmean_C    float64
 17  WBGTmin_C   float64
 18  WBGTmax_C   float64
 19  WBGTmean_C  float64
 20  UTCImin_C   float64
 21  UTCImax_C   float64
 22  UTCImean_C  float64
 23  Flag_T      float64
 24  Flag_TD     float64
 25  Flag_NET    float64
 26  Flag_HI     float64
 27  Flag_HX     float64
 28  Flag_WBGT   float64
 29  Flag_UTCI   float64
dtypes: category(1), float64(29)
memory usage: 5.2 GB

In [5]:
# convert data to int32
df_all_0 = df_all_0.astype({col: 'float32' for col in df_all_0.select_dtypes(include=['float64']).columns})

# To save the DataFrame, for example as a CSV:
# df.to_csv('filename.csv', index=False)

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/envs/dev/lib/python3.10/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: invalid value encountered in cast
  return arr.astype(dtype, copy=True)

In [6]:
df_all_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23835252 entries, 1 to 23835252
Data columns (total 30 columns):
 #   Column      Dtype
---  ------      -----
 0   StCoFIPS    category
 1   Date        float32
 2   Tmin_C      float32
 3   Tmax_C      float32
 4   Tmean_C     float32
 5   TDmin_C     float32
 6   TDmax_C     float32
 7   TDmean_C    float32
 8   NETmin_C    float32
 9   NETmax_C    float32
 10  NETmean_C   float32
 11  HImin_C     float32
 12  HImax_C     float32
 13  HImean_C    float32
 14  HXmin_C     float32
 15  HXmax_C     float32
 16  HXmean_C    float32
 17  WBGTmin_C   float32
 18  WBGTmax_C   float32
 19  WBGTmean_C  float32
 20  UTCImin_C   float32
 21  UTCImax_C   float32
 22  UTCImean_C  float32
 23  Flag_T      float32
 24  Flag_TD     float32
 25  Flag_NET    float32
 26  Flag_HI     float32
 27  Flag_HX     float32
 28  Flag_WBGT   float32
 29  Flag_UTCI   float32
dtypes: category(1), float32(29)
memory usage: 2.6 GB

Since we want to use StCoFIPS column to sort, need to convert it from categorical data

In [8]:

# Convert the dtype from categorical to integer to be able to sort
df_all_0['StCoFIPS'] = df_all_0['StCoFIPS'].astype('int32')

In [9]:
df_all_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23835252 entries, 1 to 23835252
Data columns (total 30 columns):
 #   Column      Dtype
---  ------      -----
 0   StCoFIPS    int32
 1   Date        float32
 2   Tmin_C      float32
 3   Tmax_C      float32
 4   Tmean_C     float32
 5   TDmin_C     float32
 6   TDmax_C     float32
 7   TDmean_C    float32
 8   NETmin_C    float32
 9   NETmax_C    float32
 10  NETmean_C   float32
 11  HImin_C     float32
 12  HImax_C     float32
 13  HImean_C    float32
 14  HXmin_C     float32
 15  HXmax_C     float32
 16  HXmean_C    float32
 17  WBGTmin_C   float32
 18  WBGTmax_C   float32
 19  WBGTmean_C  float32
 20  UTCImin_C   float32
 21  UTCImax_C   float32
 22  UTCImean_C  float32
 23  Flag_T      float32
 24  Flag_TD     float32
 25  Flag_NET    float32
 26  Flag_HI     float32
 27  Flag_HX     float32
 28  Flag_WBGT   float32
 29  Flag_UTCI   float32
dtypes: float32(29), int32(1)
memory usage: 2.7 GB

Sample code to filter dataset by use case

In [26]:
# # Dataset needs to be scaled down

# # We can filter based on FIPS Code- (Numeric ID for States and Counties in U.S.)
# # To look at one state (TX), filter DataFrame for 'StCoFIPS' values between 48001 and 48507, inclusive


tx_filtered_df = df_all_0[(df_all_0['StCoFIPS'] >= 48001) & (df_all_0['StCoFIPS'] <= 48507)]
tx_filtered_df

,StCoFIPS,Date,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
2490,48001,10958.0,17.969999,22.020000,19.469999,16.639999,18.709999,17.549999,9.58,15.810000,...,10.64,25.030001,16.680000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2491,48003,10958.0,3.730000,17.750000,11.380000,-7.530000,0.110000,-5.020000,-4.42,8.370000,...,-15.64,17.870001,2.060000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2492,48005,10958.0,17.860001,23.350000,19.870001,16.650000,18.750000,17.700001,10.24,17.209999,...,12.56,25.110001,17.629999,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2493,48007,10958.0,20.200001,24.070000,21.410000,18.219999,18.990000,18.629999,11.46,16.230000,...,10.18,24.280001,15.300000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2494,48009,10958.0,10.840000,20.840000,15.860000,-4.590000,10.990000,3.660000,3.67,13.370000,...,4.01,25.650000,12.210000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23834883,48499,18626.0,5.990000,16.790001,12.100000,5.670000,16.740000,11.390000,-5.94,12.220000,...,-2.94,19.270000,6.780000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23834884,48501,18626.0,0.150000,8.590000,3.610000,-13.660000,1.370000,-7.510000,-14.77,0.190000,...,-19.98,-0.520000,-10.680000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23834885,48503,18626.0,4.150000,17.070000,7.140000,-5.090000,14.960000,3.750000,-10.44,9.020000,...,-11.22,13.390000,-5.270000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23834886,48505,18626.0,17.290001,27.870001,22.090000,11.340000,16.190001,14.020000,8.13,21.730000,...,6.77,33.860001,17.850000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23834887,48507,18626.0,9.880000,23.240000,17.330000,4.830000,15.710000,12.140000,-1.51,17.309999,...,-1.89,25.379999,11.410000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
mi_filtered_df = df_all_0[(df_all_0['StCoFIPS'] >= 26001) & (df_all_0['StCoFIPS'] <= 26165)]
mi_filtered_df

,StCoFIPS,Date,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
1198,26001,10958.0,-0.93,7.23,2.68,-1.86,6.58,2.28,-16.580000,-5.27,...,-14.810000,3.30,-4.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1199,26003,10958.0,-4.46,-0.48,-2.41,-6.88,-1.79,-4.12,-21.200001,-14.49,...,-24.010000,-10.63,-15.89,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1200,26005,10958.0,3.19,11.90,7.77,1.81,9.11,6.22,-8.970000,0.40,...,-6.180000,6.61,-1.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1201,26007,10958.0,-2.58,6.13,2.10,-3.91,5.60,1.55,-19.290001,-6.51,...,-19.139999,1.79,-6.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1202,26009,10958.0,-2.29,6.32,1.85,-3.55,4.84,0.54,-18.520000,-6.21,...,-18.150000,-0.39,-8.58,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23833420,26157,18626.0,-3.02,3.74,0.04,-8.15,2.65,-2.72,-17.959999,-10.81,...,-20.600000,-8.60,-15.29,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23833421,26159,18626.0,-1.54,3.65,0.49,-6.44,3.41,-1.53,-17.420000,-10.88,...,-17.920000,-7.76,-13.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23833422,26161,18626.0,-2.24,5.97,1.12,-8.31,5.24,-1.72,-15.520000,-8.20,...,-17.139999,-6.12,-12.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23833423,26163,18626.0,-1.41,6.36,1.75,-6.98,5.55,-1.21,-15.580000,-8.18,...,-18.570000,-7.83,-13.65,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23833424,26165,18626.0,-4.62,0.93,-2.31,-8.71,-0.24,-4.92,-19.549999,-11.92,...,-18.610001,-6.10,-14.17,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:

# # Filter DataFrame for single county using Harris County, TX as example)

# harris_df = tx_filtered_df[(tx_filtered_df['StCoFIPS'] == 48201)]
# harris_df

In [ ]:
# # export csv 

# harris_df.to_csv('harris.csv', index=False)

In [ ]:

# # Filter DataFrame to (Houston Statistical Metro Area)


# filter_counties = [26163, 26125,26099,26093,26147,26087]

# # Filtering the DataFrame based on 'StCoFIPS' values

# detroit_metro_counties = df_name[df_name['StCoFIPS'].isin(filter_counties)]
# detroit_metro_counties

In [12]:
# #Export to csv

# detroit_metro_counties.to_csv('detroit_metro_daily_temps_2000_2020.csv', index=False)

Data Cleaning and Preprocessing Cells

In [28]:
# Function to convert days in 'posixct_date' (assumed to be days since 1970-01-01) to 'YYYYMMDD'

def posixct_date_to_yyyymmdd(posixct_date):
    epoch_start = datetime.datetime(1970, 1, 1)
    actual_date = epoch_start + datetime.timedelta(seconds=int(posixct_date * 86400))  # Convert days to seconds
    return actual_date.strftime('%Y%m%d')

tx_filtered_df['Date'] = tx_filtered_df['Date'].apply(posixct_date_to_yyyymmdd)

tx_filtered_df.head()

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/315877089.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_filtered_df['Date'] = tx_filtered_df['Date'].apply(posixct_date_to_yyyymmdd)

,StCoFIPS,Date,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
2490,48001,20000102,17.969999,22.02,19.469999,16.639999,18.709999,17.549999,9.58,15.810000,...,10.64,25.030001,16.680000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2491,48003,20000102,3.730000,17.75,11.380000,-7.530000,0.110000,-5.020000,-4.42,8.370000,...,-15.64,17.870001,2.060000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2492,48005,20000102,17.860001,23.35,19.870001,16.650000,18.750000,17.700001,10.24,17.209999,...,12.56,25.110001,17.629999,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2493,48007,20000102,20.200001,24.07,21.410000,18.219999,18.990000,18.629999,11.46,16.230000,...,10.18,24.280001,15.300000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2494,48009,20000102,10.840000,20.84,15.860000,-4.590000,10.990000,3.660000,3.67,13.370000,...,4.01,25.650000,12.210000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Function to convert days in 'posixct_date' (assumed to be days since 1970-01-01) to 'YYYYMMDD'

def posixct_date_to_yyyymmdd(posixct_date):
    epoch_start = datetime.datetime(1970, 1, 1)
    actual_date = epoch_start + datetime.timedelta(seconds=int(posixct_date * 86400))  # Convert days to seconds
    return actual_date.strftime('%Y%m%d')

mi_filtered_df['Date'] = mi_filtered_df['Date'].apply(posixct_date_to_yyyymmdd)

mi_filtered_df.head()

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/625484653.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mi_filtered_df['Date'] = mi_filtered_df['Date'].apply(posixct_date_to_yyyymmdd)

,StCoFIPS,Date,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
1198,26001,20000102,-0.93,7.23,2.68,-1.86,6.58,2.28,-16.580000,-5.27,...,-14.810000,3.30,-4.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1199,26003,20000102,-4.46,-0.48,-2.41,-6.88,-1.79,-4.12,-21.200001,-14.49,...,-24.010000,-10.63,-15.89,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1200,26005,20000102,3.19,11.90,7.77,1.81,9.11,6.22,-8.970000,0.40,...,-6.180000,6.61,-1.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1201,26007,20000102,-2.58,6.13,2.10,-3.91,5.60,1.55,-19.290001,-6.51,...,-19.139999,1.79,-6.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1202,26009,20000102,-2.29,6.32,1.85,-3.55,4.84,0.54,-18.520000,-6.21,...,-18.150000,-0.39,-8.58,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:

df_all_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23835252 entries, 1 to 23835252
Data columns (total 30 columns):
 #   Column      Dtype
---  ------      -----
 0   StCoFIPS    int32
 1   Date        object
 2   Tmin_C      float32
 3   Tmax_C      float32
 4   Tmean_C     float32
 5   TDmin_C     float32
 6   TDmax_C     float32
 7   TDmean_C    float32
 8   NETmin_C    float32
 9   NETmax_C    float32
 10  NETmean_C   float32
 11  HImin_C     float32
 12  HImax_C     float32
 13  HImean_C    float32
 14  HXmin_C     float32
 15  HXmax_C     float32
 16  HXmean_C    float32
 17  WBGTmin_C   float32
 18  WBGTmax_C   float32
 19  WBGTmean_C  float32
 20  UTCImin_C   float32
 21  UTCImax_C   float32
 22  UTCImean_C  float32
 23  Flag_T      float32
 24  Flag_TD     float32
 25  Flag_NET    float32
 26  Flag_HI     float32
 27  Flag_HX     float32
 28  Flag_WBGT   float32
 29  Flag_UTCI   float32
dtypes: float32(28), int32(1), object(1)
memory usage: 2.8+ GB

In [11]:
# Convert "Date" to datetime format
df_all_0['Date'] = pd.to_datetime(df_all_0['Date'].astype(str), format='%Y%m%d')

In [30]:
# Convert "Date" to datetime format
tx_filtered_df['Date'] = pd.to_datetime(tx_filtered_df['Date'].astype(str), format='%Y%m%d')

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/3590510221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_filtered_df['Date'] = pd.to_datetime(tx_filtered_df['Date'].astype(str), format='%Y%m%d')

In [31]:
tx_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1947926 entries, 2490 to 23834887
Data columns (total 30 columns):
 #   Column      Dtype
---  ------      -----
 0   StCoFIPS    int32
 1   Date        datetime64[ns]
 2   Tmin_C      float32
 3   Tmax_C      float32
 4   Tmean_C     float32
 5   TDmin_C     float32
 6   TDmax_C     float32
 7   TDmean_C    float32
 8   NETmin_C    float32
 9   NETmax_C    float32
 10  NETmean_C   float32
 11  HImin_C     float32
 12  HImax_C     float32
 13  HImean_C    float32
 14  HXmin_C     float32
 15  HXmax_C     float32
 16  HXmean_C    float32
 17  WBGTmin_C   float32
 18  WBGTmax_C   float32
 19  WBGTmean_C  float32
 20  UTCImin_C   float32
 21  UTCImax_C   float32
 22  UTCImean_C  float32
 23  Flag_T      float32
 24  Flag_TD     float32
 25  Flag_NET    float32
 26  Flag_HI     float32
 27  Flag_HX     float32
 28  Flag_WBGT   float32
 29  Flag_UTCI   float32
dtypes: datetime64[ns](1), float32(28), int32(1)
memory usage: 245.2 MB

In [32]:
# Convert "Date" to datetime format
mi_filtered_df['Date'] = pd.to_datetime(mi_filtered_df['Date'].astype(str), format='%Y%m%d')

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/2090068948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mi_filtered_df['Date'] = pd.to_datetime(mi_filtered_df['Date'].astype(str), format='%Y%m%d')

In [33]:
mi_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 636527 entries, 1198 to 23833424
Data columns (total 30 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StCoFIPS    636527 non-null  int32
 1   Date        636527 non-null  datetime64[ns]
 2   Tmin_C      636527 non-null  float32
 3   Tmax_C      636527 non-null  float32
 4   Tmean_C     636527 non-null  float32
 5   TDmin_C     636527 non-null  float32
 6   TDmax_C     636527 non-null  float32
 7   TDmean_C    636527 non-null  float32
 8   NETmin_C    636527 non-null  float32
 9   NETmax_C    636527 non-null  float32
 10  NETmean_C   636527 non-null  float32
 11  HImin_C     636527 non-null  float32
 12  HImax_C     636527 non-null  float32
 13  HImean_C    636527 non-null  float32
 14  HXmin_C     636527 non-null  float32
 15  HXmax_C     636527 non-null  float32
 16  HXmean_C    636527 non-null  float32
 17  WBGTmin_C   636527 non-null  float32
 18  WBGTmax_C   636527 non-null  float32
 19  WBGTmean_C  636527 non-null  float32
 20  UTCImin_C   636527 non-null  float32
 21  UTCImax_C   636527 non-null  float32
 22  UTCImean_C  636527 non-null  float32
 23  Flag_T      636527 non-null  float32
 24  Flag_TD     636527 non-null  float32
 25  Flag_NET    636527 non-null  float32
 26  Flag_HI     636527 non-null  float32
 27  Flag_HX     636527 non-null  float32
 28  Flag_WBGT   636527 non-null  float32
 29  Flag_UTCI   636527 non-null  float32
dtypes: datetime64[ns](1), float32(28), int32(1)
memory usage: 80.1 MB

In [34]:
# Drop columns

df_all_0f = df_all_0.drop(['Flag_T','Flag_TD','Flag_NET','Flag_HI','Flag_HX','Flag_WBGT', 'Flag_UTCI'], axis=1)

#set "Date" as index

df_all_0.set_index("Date", inplace=True)

df_all_0.head()

,StCoFIPS,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,NETmean_C,...,UTCImin_C,UTCImax_C,UTCImean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
Date,,,,,,,,,,,,,,,,,,,,,
10958.0,1001,14.62,21.629999,17.280001,14.45,16.520000,15.38,8.10,15.61,10.88,...,11.98,24.879999,16.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10958.0,1003,16.26,22.610001,18.799999,15.82,18.430000,17.18,10.10,15.88,12.35,...,13.32,25.459999,17.92,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10958.0,1005,13.88,20.090000,16.230000,13.80,16.280001,14.97,7.29,14.83,10.17,...,11.59,23.100000,15.76,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10958.0,1007,13.57,21.020000,16.620001,13.46,16.680000,15.04,6.52,15.05,10.09,...,9.71,24.620001,15.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10958.0,1009,13.49,18.490000,15.290000,13.35,15.800000,14.52,5.84,12.15,8.19,...,9.77,21.110001,13.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# Drop columns (TX)

tx_filtered_df = tx_filtered_df.drop(['Flag_T','Flag_TD','Flag_NET','Flag_HI','Flag_HX','Flag_WBGT', 'Flag_UTCI'], axis=1)

#set "Date" as index

tx_filtered_df.set_index("Date", inplace=True)

tx_filtered_df.head()

,StCoFIPS,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,NETmean_C,...,HImean_C,HXmin_C,HXmax_C,HXmean_C,WBGTmin_C,WBGTmax_C,WBGTmean_C,UTCImin_C,UTCImax_C,UTCImean_C
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,48001,17.969999,22.02,19.469999,16.639999,18.709999,17.549999,9.58,15.810000,12.50,...,19.790001,22.940001,27.920000,25.049999,17.18,21.980000,18.799999,10.64,25.030001,16.680000
2000-01-02,48003,3.730000,17.75,11.380000,-7.530000,0.110000,-5.020000,-4.42,8.370000,2.41,...,9.600000,0.140000,14.610000,8.190000,0.13,12.890000,6.880000,-15.64,17.870001,2.060000
2000-01-02,48005,17.860001,23.35,19.870001,16.650000,18.750000,17.700001,10.24,17.209999,13.19,...,20.209999,22.820000,29.020000,25.549999,17.09,22.309999,19.090000,12.56,25.110001,17.629999
2000-01-02,48007,20.200001,24.07,21.410000,18.219999,18.990000,18.629999,11.46,16.230000,13.01,...,21.809999,26.340000,30.330000,27.750000,19.17,23.400000,20.590000,10.18,24.280001,15.300000
2000-01-02,48009,10.840000,20.84,15.860000,-4.590000,10.990000,3.660000,3.67,13.370000,8.46,...,14.780000,10.370000,19.860001,14.980000,8.49,16.740000,12.500000,4.01,25.650000,12.210000

In [36]:
# Drop columns (MI)

mi_filtered_df = mi_filtered_df.drop(['Flag_T','Flag_TD','Flag_NET','Flag_HI','Flag_HX','Flag_WBGT', 'Flag_UTCI'], axis=1)

#set "Date" as index

mi_filtered_df.set_index("Date", inplace=True)

mi_filtered_df.head()

,StCoFIPS,Tmin_C,Tmax_C,Tmean_C,TDmin_C,TDmax_C,TDmean_C,NETmin_C,NETmax_C,NETmean_C,...,HImean_C,HXmin_C,HXmax_C,HXmean_C,WBGTmin_C,WBGTmax_C,WBGTmean_C,UTCImin_C,UTCImax_C,UTCImean_C
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,26001,-0.93,7.23,2.68,-1.86,6.58,2.28,-16.580000,-5.27,-8.79,...,2.46,-3.51,7.08,1.18,-1.66,6.68,2.24,-14.810000,3.30,-4.10
2000-01-02,26003,-4.46,-0.48,-2.41,-6.88,-1.79,-4.12,-21.200001,-14.49,-17.32,...,-2.41,-7.95,-3.05,-5.44,-5.59,-0.74,-3.25,-24.010000,-10.63,-15.89
2000-01-02,26005,3.19,11.90,7.77,1.81,9.11,6.22,-8.970000,0.40,-4.05,...,7.13,1.51,12.72,7.54,2.31,11.98,7.24,-6.180000,6.61,-1.32
2000-01-02,26007,-2.58,6.13,2.10,-3.91,5.60,1.55,-19.290001,-6.51,-10.37,...,1.96,-5.59,5.62,0.39,-3.36,5.60,1.67,-19.139999,1.79,-6.32
2000-01-02,26009,-2.29,6.32,1.85,-3.55,4.84,0.54,-18.520000,-6.21,-11.47,...,1.68,-5.23,5.55,-0.13,-3.06,5.69,1.15,-18.150000,-0.39,-8.58

In [14]:
 # Rename columns (ALL)

df_all_1 = df_all_0.rename(columns={
                                                'StCoFIPS':'FIPS Code-County',
                                                'Tmin_C':'Min Ambient Temp',
                                                'Tmax_C':'Max Ambient Temp',
                                                'Tmean_C':'Mean Ambient Temp',
                                                'TDmin_C':'Min Dew Point',
                                                'TDmax_C':'Max Dew point',
                                                'TDmean_C':'Mean Dew Point',
                                                'NETmin_C':'Min Net Effective Temp',
                                                'NETmax_C':'Max Net Effective Temp',
                                                'NETmean_C':'Mean Net Effective Temp',
                                                'HImin_C':'Min Heat Index',             
                                                'HImax_C':'Max Heat Index',             
                                                'HImean_C':'Mean Heat Index',           
                                                'HXmin_C':'Min Humidex',             
                                                'HXmax_C':'Max Humidex',             
                                                'HXmean_C':'Mean Humidex',           
                                                'WBGTmin_C':'Min WBGT',           
                                                'WBGTmax_C':'Max WBGT',          
                                                'WBGTmean_C':'Mean WBGT',           
                                                'UTCImin_C':'Min UTCI',       
                                                'UTCImax_C':'Max UTCI',          
                                                'UTCImean_C':'Mean UTCI',})
df_all_1

,FIPS Code-County,Min Ambient Temp,Max Ambient Temp,Mean Ambient Temp,Min Dew Point,Max Dew point,Mean Dew Point,Min Net Effective Temp,Max Net Effective Temp,Mean Net Effective Temp,...,Min UTCI,Max UTCI,Mean UTCI,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,Flag_UTCI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,1001,14.620000,21.629999,17.280001,14.450000,16.520000,15.380000,8.100000,15.610000,10.880000,...,11.980000,24.879999,16.570000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-02,1003,16.260000,22.610001,18.799999,15.820000,18.430000,17.180000,10.100000,15.880000,12.350000,...,13.320000,25.459999,17.920000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-02,1005,13.880000,20.090000,16.230000,13.800000,16.280001,14.970000,7.290000,14.830000,10.170000,...,11.590000,23.100000,15.760000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-02,1007,13.570000,21.020000,16.620001,13.460000,16.680000,15.040000,6.520000,15.050000,10.090000,...,9.710000,24.620001,15.550000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-02,1009,13.490000,18.490000,15.290000,13.350000,15.800000,14.520000,5.840000,12.150000,8.190000,...,9.770000,21.110001,13.550000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,56037,-18.959999,-6.530000,-12.460000,-22.549999,-11.140000,-16.629999,-34.660000,-19.940001,-26.650000,...,-34.779999,-5.290000,-22.959999,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-30,56039,-20.900000,-11.780000,-15.730000,-23.230000,-14.330000,-18.450001,-28.820000,-17.070000,-23.100000,...,-26.260000,-3.410000,-16.930000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-30,56041,-17.400000,-4.620000,-11.120000,-21.910000,-10.230000,-15.980000,-31.110001,-15.470000,-23.129999,...,-31.590000,-0.860000,-18.830000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-30,56043,-14.400000,-1.320000,-8.460000,-18.790001,-11.980000,-15.820000,-23.910000,-4.220000,-14.330000,...,-23.879999,12.100000,-10.110000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-30,56045,-10.170000,1.020000,-5.550000,-16.530001,-10.280000,-13.640000,-23.049999,-6.860000,-15.110000,...,-25.030001,3.480000,-14.240000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# Rename columns (TX)

tx_filtered_df = tx_filtered_df.rename(columns={
                                                'StCoFIPS':'FIPS Code-County',
                                                'Tmin_C':'Min Ambient Temp',
                                                'Tmax_C':'Max Ambient Temp',
                                                'Tmean_C':'Mean Ambient Temp',
                                                'TDmin_C':'Min Dew Point',
                                                'TDmax_C':'Max Dew point',
                                                'TDmean_C':'Mean Dew Point',
                                                'NETmin_C':'Min Net Effective Temp',
                                                'NETmax_C':'Max Net Effective Temp',
                                                'NETmean_C':'Mean Net Effective Temp',
                                                'HImin_C':'Min Heat Index',             
                                                'HImax_C':'Max Heat Index',             
                                                'HImean_C':'Mean Heat Index',           
                                                'HXmin_C':'Min Humidex',             
                                                'HXmax_C':'Max Humidex',             
                                                'HXmean_C':'Mean Humidex',           
                                                'WBGTmin_C':'Min WBGT',           
                                                'WBGTmax_C':'Max WBGT',          
                                                'WBGTmean_C':'Mean WBGT',           
                                                'UTCImin_C':'Min UTCI',       
                                                'UTCImax_C':'Max UTCI',          
                                                'UTCImean_C':'Mean UTCI',})
tx_filtered_df

,FIPS Code-County,Min Ambient Temp,Max Ambient Temp,Mean Ambient Temp,Min Dew Point,Max Dew point,Mean Dew Point,Min Net Effective Temp,Max Net Effective Temp,Mean Net Effective Temp,...,Mean Heat Index,Min Humidex,Max Humidex,Mean Humidex,Min WBGT,Max WBGT,Mean WBGT,Min UTCI,Max UTCI,Mean UTCI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,48001,17.969999,22.020000,19.469999,16.639999,18.709999,17.549999,9.58,15.810000,12.50,...,19.790001,22.940001,27.920000,25.049999,17.18,21.980000,18.799999,10.64,25.030001,16.680000
2000-01-02,48003,3.730000,17.750000,11.380000,-7.530000,0.110000,-5.020000,-4.42,8.370000,2.41,...,9.600000,0.140000,14.610000,8.190000,0.13,12.890000,6.880000,-15.64,17.870001,2.060000
2000-01-02,48005,17.860001,23.350000,19.870001,16.650000,18.750000,17.700001,10.24,17.209999,13.19,...,20.209999,22.820000,29.020000,25.549999,17.09,22.309999,19.090000,12.56,25.110001,17.629999
2000-01-02,48007,20.200001,24.070000,21.410000,18.219999,18.990000,18.629999,11.46,16.230000,13.01,...,21.809999,26.340000,30.330000,27.750000,19.17,23.400000,20.590000,10.18,24.280001,15.300000
2000-01-02,48009,10.840000,20.840000,15.860000,-4.590000,10.990000,3.660000,3.67,13.370000,8.46,...,14.780000,10.370000,19.860001,14.980000,8.49,16.740000,12.500000,4.01,25.650000,12.210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,48499,5.990000,16.790001,12.100000,5.670000,16.740000,11.390000,-5.94,12.220000,2.69,...,11.860000,5.530000,21.799999,14.270000,5.50,17.400000,11.640000,-2.94,19.270000,6.780000
2020-12-30,48501,0.150000,8.590000,3.610000,-13.660000,1.370000,-7.510000,-14.77,0.190000,-7.73,...,2.730000,-3.760000,6.100000,0.160000,-3.15,4.790000,0.960000,-19.98,-0.520000,-10.680000
2020-12-30,48503,4.150000,17.070000,7.140000,-5.090000,14.960000,3.750000,-10.44,9.020000,-5.13,...,6.400000,1.160000,20.930000,6.420000,1.33,15.890000,5.900000,-11.22,13.390000,-5.270000
2020-12-30,48505,17.290001,27.870001,22.090000,11.340000,16.190001,14.020000,8.13,21.730000,14.33,...,21.969999,20.129999,30.020000,25.459999,15.21,24.760000,19.440001,6.77,33.860001,17.850000
2020-12-30,48507,9.880000,23.240000,17.330000,4.830000,15.710000,12.140000,-1.51,17.309999,9.01,...,17.020000,9.770000,25.879999,19.850000,8.36,20.420000,15.380000,-1.89,25.379999,11.410000

In [38]:
# Rename columns (MI)

mi_filtered_df = mi_filtered_df.rename(columns={
                                                'StCoFIPS':'FIPS Code-County',
                                                'Tmin_C':'Min Ambient Temp',
                                                'Tmax_C':'Max Ambient Temp',
                                                'Tmean_C':'Mean Ambient Temp',
                                                'TDmin_C':'Min Dew Point',
                                                'TDmax_C':'Max Dew point',
                                                'TDmean_C':'Mean Dew Point',
                                                'NETmin_C':'Min Net Effective Temp',
                                                'NETmax_C':'Max Net Effective Temp',
                                                'NETmean_C':'Mean Net Effective Temp',
                                                'HImin_C':'Min Heat Index',             
                                                'HImax_C':'Max Heat Index',             
                                                'HImean_C':'Mean Heat Index',           
                                                'HXmin_C':'Min Humidex',             
                                                'HXmax_C':'Max Humidex',             
                                                'HXmean_C':'Mean Humidex',           
                                                'WBGTmin_C':'Min WBGT',           
                                                'WBGTmax_C':'Max WBGT',          
                                                'WBGTmean_C':'Mean WBGT',           
                                                'UTCImin_C':'Min UTCI',       
                                                'UTCImax_C':'Max UTCI',          
                                                'UTCImean_C':'Mean UTCI',})
mi_filtered_df

,FIPS Code-County,Min Ambient Temp,Max Ambient Temp,Mean Ambient Temp,Min Dew Point,Max Dew point,Mean Dew Point,Min Net Effective Temp,Max Net Effective Temp,Mean Net Effective Temp,...,Mean Heat Index,Min Humidex,Max Humidex,Mean Humidex,Min WBGT,Max WBGT,Mean WBGT,Min UTCI,Max UTCI,Mean UTCI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,26001,-0.93,7.23,2.68,-1.86,6.58,2.28,-16.580000,-5.27,-8.79,...,2.46,-3.51,7.08,1.18,-1.66,6.68,2.24,-14.810000,3.30,-4.10
2000-01-02,26003,-4.46,-0.48,-2.41,-6.88,-1.79,-4.12,-21.200001,-14.49,-17.32,...,-2.41,-7.95,-3.05,-5.44,-5.59,-0.74,-3.25,-24.010000,-10.63,-15.89
2000-01-02,26005,3.19,11.90,7.77,1.81,9.11,6.22,-8.970000,0.40,-4.05,...,7.13,1.51,12.72,7.54,2.31,11.98,7.24,-6.180000,6.61,-1.32
2000-01-02,26007,-2.58,6.13,2.10,-3.91,5.60,1.55,-19.290001,-6.51,-10.37,...,1.96,-5.59,5.62,0.39,-3.36,5.60,1.67,-19.139999,1.79,-6.32
2000-01-02,26009,-2.29,6.32,1.85,-3.55,4.84,0.54,-18.520000,-6.21,-11.47,...,1.68,-5.23,5.55,-0.13,-3.06,5.69,1.15,-18.150000,-0.39,-8.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,26157,-3.02,3.74,0.04,-8.15,2.65,-2.72,-17.959999,-10.81,-14.76,...,0.04,-6.72,2.28,-2.66,-4.70,3.42,-1.00,-20.600000,-8.60,-15.29
2020-12-30,26159,-1.54,3.65,0.49,-6.44,3.41,-1.53,-17.420000,-10.88,-14.38,...,0.49,-4.85,2.42,-1.96,-3.06,3.48,-0.30,-17.920000,-7.76,-13.67
2020-12-30,26161,-2.24,5.97,1.12,-8.31,5.24,-1.72,-15.520000,-8.20,-12.58,...,0.96,-5.72,5.34,-1.30,-3.82,5.64,0.03,-17.139999,-6.12,-12.02
2020-12-30,26163,-1.41,6.36,1.75,-6.98,5.55,-1.21,-15.580000,-8.18,-12.62,...,1.56,-4.79,5.83,-0.57,-3.03,5.99,0.62,-18.570000,-7.83,-13.65
2020-12-30,26165,-4.62,0.93,-2.31,-8.71,-0.24,-4.92,-19.549999,-11.92,-16.23,...,-2.31,-8.39,-1.40,-5.47,-6.08,0.74,-3.23,-18.610001,-6.10,-14.17

Convert Celsius to Fahrenheit

In [21]:
#Convert Data from Celsius to Fahrenheit

# # # Define conversion functions
# def celsius_to_fahrenheit(celsius):
#     return celsius * 9/5 + 32

# # # Apply conversion
# df_all_1= df_all_1.map(celsius_to_fahrenheit)
# df_all_1.head()

In [39]:
#Convert Data from Celsius to Fahrenheit (TX)

# Define conversion function
def celsius_to_fahrenheit(celsius):
    return celsius * 9/5 + 32

# Apply conversion to all columns except "FIPS Code-County"
columns_to_convert = tx_filtered_df.columns.difference(['FIPS Code-County'])  # Exclude the specific column

tx_filtered_df[columns_to_convert] = tx_filtered_df[columns_to_convert].applymap(celsius_to_fahrenheit)

# Display the head of the updated DataFrame
tx_filtered_df.head()

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/3496857274.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  tx_filtered_df[columns_to_convert] = tx_filtered_df[columns_to_convert].applymap(celsius_to_fahrenheit)

,FIPS Code-County,Min Ambient Temp,Max Ambient Temp,Mean Ambient Temp,Min Dew Point,Max Dew point,Mean Dew Point,Min Net Effective Temp,Max Net Effective Temp,Mean Net Effective Temp,...,Mean Heat Index,Min Humidex,Max Humidex,Mean Humidex,Min WBGT,Max WBGT,Mean WBGT,Min UTCI,Max UTCI,Mean UTCI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,48001,64.345999,71.636001,67.045999,61.951999,65.677998,63.589999,49.244,60.458001,54.500000,...,67.622002,73.292001,82.256000,77.089999,62.924001,71.563999,65.839999,51.152001,77.054001,62.024001
2000-01-02,48003,38.714000,63.950000,52.484000,18.446000,32.198000,22.964000,24.044,47.066000,36.338000,...,49.280001,32.252000,58.297999,46.741999,32.234000,55.202001,44.384000,3.847999,64.166002,35.708000
2000-01-02,48005,64.148001,74.030001,67.766002,61.969999,65.750000,63.860001,50.432,62.977998,55.741999,...,68.377998,73.075999,84.236001,77.989999,62.762000,72.157999,66.362000,54.608001,77.198001,63.733998
2000-01-02,48007,68.360001,75.325999,70.538000,64.795999,66.182000,65.533998,52.628,61.213999,55.418000,...,71.257999,79.412000,86.594000,81.950000,66.506000,74.119999,69.062000,50.324001,75.704001,59.540000
2000-01-02,48009,51.512000,69.512000,60.547999,23.738000,51.782000,38.588000,38.606,56.066000,47.228000,...,58.604000,50.666000,67.748001,58.963999,47.282000,62.132000,54.500000,39.218000,78.169999,53.978000

In [40]:
#Convert Data from Celsius to Fahrenheit (MI)

# Define conversion function
def celsius_to_fahrenheit(celsius):
    return celsius * 9/5 + 32

# Apply conversion to all columns except "FIPS Code-County"
columns_to_convert = tx_filtered_df.columns.difference(['FIPS Code-County'])  # Exclude the specific column

mi_filtered_df[columns_to_convert] = mi_filtered_df[columns_to_convert].applymap(celsius_to_fahrenheit)

# Display the head of the updated DataFrame
mi_filtered_df.head()

/var/folders/xd/jl_0pvqx5295gyzxfw09l8b00000gn/T/ipykernel_60204/2794079106.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mi_filtered_df[columns_to_convert] = mi_filtered_df[columns_to_convert].applymap(celsius_to_fahrenheit)

,FIPS Code-County,Min Ambient Temp,Max Ambient Temp,Mean Ambient Temp,Min Dew Point,Max Dew point,Mean Dew Point,Min Net Effective Temp,Max Net Effective Temp,Mean Net Effective Temp,...,Mean Heat Index,Min Humidex,Max Humidex,Mean Humidex,Min WBGT,Max WBGT,Mean WBGT,Min UTCI,Max UTCI,Mean UTCI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,26001,30.326,45.014000,36.824,28.652,43.844000,36.104,2.156000,22.514,16.178000,...,36.428,25.682,44.744,34.124,29.012,44.024000,36.032,5.341999,37.940,24.620000
2000-01-02,26003,23.972,31.136000,27.662,19.616,28.778000,24.584,-6.160001,5.918,0.824001,...,27.662,17.690,26.510,22.208,21.938,30.668000,26.150,-11.218000,12.866,3.397999
2000-01-02,26005,37.742,53.419999,45.986,35.258,48.397999,43.196,15.854000,32.720,24.710000,...,44.834,34.718,54.896,45.572,36.158,53.563999,45.032,20.876000,43.898,29.624000
2000-01-02,26007,27.356,43.034000,35.780,24.962,42.080000,34.790,-2.722002,20.282,13.334000,...,35.528,21.938,42.116,32.702,25.952,42.080000,35.006,-2.451999,35.222,20.624000
2000-01-02,26009,27.878,43.376000,35.330,25.610,40.712000,32.972,-1.336001,20.822,11.354000,...,35.024,22.586,41.990,31.766,26.492,42.242000,34.070,-0.669999,31.298,16.556000

Export to csv

In [15]:
# #Export to csv  (ALL)

df_all_1.to_csv('all-cleaned.csv')

In [41]:
# #Export to csv (TX)

tx_filtered_df.to_csv('tx-cleaned.csv')

In [42]:
# #Export to csv (MI)

mi_filtered_df.to_csv('mi-cleaned.csv')

Embedding layer for NN

In [ ]:
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Embedding, Dense, LSTM

# # Assuming you have a dataset with FIPS codes (as integers) and other features
# num_counties = df['StCoFIPS'].nunique()  # Number of unique counties (FIPS codes)
# embedding_size = 16  # You can choose the embedding dimension size based on your data

# model = Sequential([
#     Embedding(input_dim=num_counties, output_dim=embedding_size, input_length=1),
#     LSTM(64, return_sequences=False),
#     Dense(32, activation='relu'),
#     Dense(1)  # For regression, predicting temperature or DTR
# ])

# model.compile(optimizer='adam', loss='mse')
# model.summary()